@namespace Project.Web.Shared.Components
@using Project.Web.Shared.Extensions
@inherits ConditionBase
<MGridContent ColSpan="@ColSpan" RowSpan="@RowSpan">
    <span class="conditions" style="@Style">
        <span class="label" style="width:@($"{Parent.LabelWidth}px");">
            @Label
        </span>
        @if (Field != null && ChildContent == null)
        {
            if (Field.DataType == typeof(DateTime))
            {
                @(UI.BuildDatePicker<DateTime>(this).Bind(() => dateValue, NotifyChanged).Render())
            }
            else if (Field?.EnumValues != null || (Field?.IsEnum ?? false))
            {
                @(UI.BuildDictionarySelect(this, Field.EnumValues!).Bind(() => stringValue, NotifyChanged).Render())
            }
            else
            {
                @UI.BuildInput(this).Bind(() => stringValue, NotifyChanged).Render()
            }
        }
        else
        {
            @ChildContent
        }
    </span>
</MGridContent>
