@namespace Project.Web.Shared.Components
@typeparam TData
@inherits ConditionBase

<MCol ColSpan="@ActualColWidth">
    <span class="conditions" style="@Style">
        <span class="label" style="width:@($"{Parent.LabelWidth}px");">
            @Label
        </span>

        @if (typeof(TData) == typeof(DateTime))
        {
            @(UI.BuildDatePicker<TData>(this).Bind(() => Value).Render())
        }
        else if (EnumValues != null)
        {
            @(UI.BuildSelect<KeyValuePair<string, string>, string>(this, EnumValues!.ToList()).LabelExpression(kv => kv.Key).ValueExpression(kv => kv.Value).Bind(() => stringValue).Render())
        }
        else
        {
            @(UI.BuildInput(this).Bind(() => stringValue).Render())
        }
    </span>
</MCol>

@code {
    [Parameter]
    public TData? Value { get; set; }
    [Parameter]
    public EventCallback<TData> ValueChanged { get; set; }
    [Parameter]
    public Dictionary<string, string>? EnumValues { get; set; }

    string? stringValue = null;
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        stringValue = Value?.ToString();
        
    }
}
