@    using System.Globalization;
@    using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@    using Project.AppCore.Options;
    using Project.Constraints.Options;
<Dropdown Trigger=@(new Trigger[]{Trigger.Click}) Style="display:unset;">
    <Overlay>
        @*<CustomSelect @bind-Value=current Options="langs" TItem=string OnChange="ToggleLang"></CustomSelect>*@
        <Menu>
            @foreach (var item in Options.SupportedCulture)
            {
                <MenuItem>
                    <Button Type="@ButtonType.Text" OnClick="@(()=>ToggleLang(item.Culture))">@item.Name</Button>
                </MenuItem>
                @*<MenuItem>
                    <Button Type="@ButtonType.Text" OnClick="@(()=>ToggleLang("en-US"))">English</Button>
                </MenuItem>*@
            }
        </Menu>
    </Overlay>
    <ChildContent>
        <SvgIcon IconName="language"
                 ClassName="nav-menu-icon" />
    </ChildContent>
</Dropdown>

@code {
    string current = CultureInfo.DefaultThreadCurrentUICulture?.Name ?? "";
    [Inject] NavigationManager Navigator { get; set; }
    [Inject] ProtectedLocalStorage Storage { get; set; }
    [Inject] AppStore App { get; set; }
    [Parameter] public CultureOptions Options { get; set; }

    void ToggleLang(string lang)
    {
        if (lang != CultureInfo.DefaultThreadCurrentUICulture?.Name)
        {
            var culture = CultureInfo.GetCultureInfo(lang);
            CultureInfo.CurrentCulture = culture;
            CultureInfo.DefaultThreadCurrentCulture = culture;
            CultureInfo.DefaultThreadCurrentUICulture = culture;
            App.AppLanguage = lang;
            Storage.SetAsync(AppStore.KEY, App);
            Navigator.NavigateTo(Navigator.Uri, true);
        }
    }
}