@using System.Diagnostics.CodeAnalysis;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using Microsoft.Extensions.Options;
@using Project.AppCore.Options;
@using Project.Common.Attributes;
@inherits JsComponentBase
@attribute [AutoLoadJsModule(Path = "Layouts/LayoutComponents")]
<div class="nav-menu @Class">
    @*全屏按钮*@
    <div class="nav-menu-item" @onclick=ToggleFullScreen title="@Localizer["NavMenu.TipTitle.FullScreen"]">
        <FullScreen @ref="fullscreen"></FullScreen>
        <SvgIcon IconName="fullscreen"
                 ClassName="nav-menu-icon" />
    </div>
    @if (CultureOptions.CurrentValue.Enabled)
    {
        @*语言选择*@
        <div class="nav-menu-item" title="@Localizer["NavMenu.TipTitle.LangSelect"]">
            <LanguageSelect Options="CultureOptions.CurrentValue"></LanguageSelect>
        </div>
    }
    @*登录用户*@
    @if (Token.CurrentValue.NeedAuthentication)
    {
        <div title="登录用户">
            <Profile @ref=profile></Profile>
        </div>
    }
    @*清除LocalStorage*@
    <div class="nav-menu-item" @onclick=ClearLocalStorage title="@Localizer["NavMenu.TipTitle.ClearStorage"]">
        <SvgIcon IconName="clear"
                 ClassName="nav-menu-icon" />
    </div>
    @*系统设置*@
    <div class="nav-menu-item" @onclick=OpenSetting title="@Localizer["NavMenu.TipTitle.SysSetting"]">
        <SvgIcon IconName="setting">
        </SvgIcon>
    </div>
</div>

<Drawer Visible=showSetting OnClose="SaveSetting">
    <p>布局样式</p>
    <EnumSelect TEnum="LayoutMode" @bind-Value=Mode></EnumSelect>
    @*<p></p>*@
</Drawer>

@code {
    [Parameter] public string Class { get; set; }
    FullScreen? fullscreen;
    Profile? profile;
    [Inject][NotNull] public AppStore App { get; set; }
    [Inject] public ProtectedLocalStorage Storage { get; set; }
    [Inject] IJSRuntime Js { get; set; }
    [Inject] IStringLocalizer<NavMenu> Localizer { get; set; }
    [Inject] IOptionsMonitor<CultureOptions> CultureOptions { get; set; }
    [Inject] IOptionsMonitor<Token> Token { get; set; }
    LayoutMode Mode
    {
        get => App.Mode ?? LayoutMode.Classic;
        set => App.Mode = value;
    }
    async Task ToggleFullScreen()
    {
        await fullscreen!.Toggle();
    }

    private bool showSetting;
    void OpenSetting()
    {
        showSetting = true;
    }

    async Task SaveSetting()
    {
        await Storage.SetAsync(AppStore.KEY, App);
        showSetting = false;
    }

    async Task ClearLocalStorage()
    {
        await (Module?.InvokeVoidAsync("clearLocalStorage") ?? ValueTask.CompletedTask);
        await (profile?.HandleLogout() ?? Task.CompletedTask);
    }
}