@using Project.Common.Attributes;
@using Project.AppCore.Routers;
@inject RouterStore store
@inject NavigationManager nav
@inject AppStore App
@inherits JsComponentBase
@attribute [AutoLoadJsModule(Path = "Layouts/LayoutComponents")]
<div style="flex:1;width:calc(100% - @(navMenuWidth + 16)px)">
    <HorizontalScroll>
        <div class="tags_box @Class" style="--tags_box-theme-color: @App.MainThemeColor;display:flex;height:50px;">
            @foreach (var item in store.TopLinks)
            {
                <div class="nav_top @(item.RouteUrl == store.CurrentUrl ? "active":"")" @oncontextmenu="e => OpenContextMenu(e, item)">
                    <NavLink href="@item.RouteUrl" Match="NavLinkMatch.All">
                        <span @oncontextmenu:preventDefault>@item.RouteTitle</span>

                        @if (item.RouteUrl == store.CurrentUrl && !item.Pin)
                        {
                            <span style="padding-left:5px;" @onclick="e => CloseTag(item)" @onclick:stopPropagation @onclick:preventDefault>
                                X
                            </span>
                        }
                    </NavLink>
                </div>
            }
        </div>
    </HorizontalScroll>
</div>
<ul class="@ContextmenuClass.Class" style="left:@contextmenuLeft;top:@contextmenuTop">
    <li @onclick="e => CloseOther()">除此之外全部关闭</li>
    <li @onclick="e => CloseAll()">关闭全部选项卡</li>
    <li @onclick="e => CloseSelf()">关闭</li>
</ul>
