@using BlazorWeb.Shared.Utils;
@using Project.AppCore.Auth
@using Project.AppCore.Services;
@using Project.Common
@using Project.Models.Permissions;
@inject EventDispatcher dispatcher
@inject UserStore store
@inject AuthenticationStateProvider Auth
@inject ILoginService LoginSrv
@inject IUserService UserSrv
@inject IStringLocalizer<Profile> Localizer
@inject ModalService ModalSrv
<Dropdown Trigger=@(new Trigger[]{Trigger.Click}) Style="display:unset;">
    <Overlay>
        <Menu>
            <MenuItem>
                <Button Type="@ButtonType.Text" OnClick="HandlePwdModify">@Localizer["NavMenu.UserAction.ModifyPassword"]</Button>
            </MenuItem>
            <MenuItem>
                <Button Type="@ButtonType.Text" OnClick="HandleLogout">@Localizer["NavMenu.UserAction.Logout"]</Button>
            </MenuItem>
        </Menu>
    </Overlay>
    <ChildContent>
        <div class="wrapper">
            <img class="avatar" src="/assets/avator.png" />
            <span class="name">@DisplayName</span>
        </div>
    </ChildContent>
</Dropdown>

@code {
    private string DisplayName => store.UserDisplayName;

    async Task HandleLogout()
    {
        await LoginSrv.LogoutAsync();
        store.ClearUser();
        await ((CustomAuthenticationStateProvider)Auth).ClearState();
    }



    async Task HandlePwdModify()
    {
        var pwd = await ModalSrv.OpenDialog<ModifyUserPassword, UserPwd>(Localizer["UserPwd.Title"]);
        await UserSrv.ModifyUserPasswordAsync(store.UserInfo!.UserId, pwd.OldPassword, pwd.Password);
    }
}
