@using BlazorWebAdmin.Template.Tables.Setting
@typeparam TData
@typeparam TQuery
<div class="queryarea">
	<div class="condition">
		<Space>
			@if (QueryArea != null)
			{
				<SpaceItem>
					@QueryArea(TableOptions.Query)
				</SpaceItem>
			}
			else if (EnableGenerateQuery)
			{
				<SpaceItem>
					<ConditionBuilder Columns=@TableOptions.Columns @bind-Info="conditionInfo"></ConditionBuilder>
				</SpaceItem>
			}
			@if (TableOptions.DataLoader != null)
			{
				<SpaceItem>
					<Button Type="@ButtonType.Primary" OnClick="Search">查询</Button>
				</SpaceItem>
				@if (EnableGenerateQuery)
				{
					<SpaceItem>
						<Button Type="@ButtonType.Primary" OnClick=@(()=>AdvanceModalVisible = true)>高级查询</Button>
					</SpaceItem>
				}
			}
			@if (TableOptions.ExportDataLoader != null || !TableOptions.Page)
			{
				<SpaceItem>
					<Button Type="@ButtonType.Primary" OnClick="Export">导出</Button>
				</SpaceItem>
			}
		</Space>
	</div>
	<div class="rightbutton">
		@if (TableOptions.AddHandle != null)
		{
			<Button Type="@ButtonType.Primary" OnClick=@TableOptions.AddHandle>新增</Button>
		}
	</div>
</div>
<Card Class="layout-card mt-10">
	<Table DataSource=@TableOptions.Datas
		   Loading=@loading
		   TItem=TData
		   Bordered
		   OnRow=@TableOptions.OnRow
		   ScrollX=@TableOptions.ScrollX
		   Size="@TableSize.Small"
		   SelectedRows=@TableOptions.Selected
		   OnRowClick=OnRowClickHandle
		   @bind-PageIndex=@TableOptions.Query.PageIndex
		   @bind-PageSize=@TableOptions.Query.PageSize
		   OnPageIndexChange=HandleChange
		   OnPageSizeChange=HandleChange>
		<ChildContent>
			@{
				// 选择列
				if (TableOptions.EnableSelection)
				{
					<Selection Fixed="left" Width="50" />
				}
				if (TableOptions.IsDataTableSource)
				{
					foreach (var col in TableOptions.Columns)
					{
						<Column TData="object" OnCell=@col.OnCell Width=@col.Width Title="@col.Label" Fixed=@col.Fixed DataIndex=@($"['{col.PropertyOrFieldName}']")></Column>
					}
				}
				else
				{
					foreach (var col in TableOptions.Columns)
					{
						var type = col.DataType.Name.ToLower();
						switch (type)
						{
							case "string":
								<Column TData="String" OnCell=@col.OnCell Width=@col.Width Title="@col.Label" Fixed=@col.Fixed DataIndex="@col.PropertyOrFieldName"></Column>
								break;
							case "int32":
								<Column TData="Int32?" OnCell=@col.OnCell Width=@col.Width Title="@col.Label" Fixed=@col.Fixed DataIndex="@col.PropertyOrFieldName"></Column>
								break;
							case "int16":
								<Column TData="Int16?" OnCell=@col.OnCell Width=@col.Width Title="@col.Label" Fixed=@col.Fixed DataIndex="@col.PropertyOrFieldName"></Column>
								break;
							case "bool":
								<Column TData="Boolean?" OnCell=@col.OnCell Width=@col.Width Title="@col.Label" Fixed=@col.Fixed DataIndex="@col.PropertyOrFieldName"></Column>
								break;
							case "datetime":
								<Column TData="DateTime?" OnCell=@col.OnCell Width=@col.Width Title="@col.Label" Fixed=@col.Fixed DataIndex="@col.PropertyOrFieldName"></Column>
								break;
						}
					}
				}
				// 按钮列
				if (TableOptions.Buttons.Count > 0)
				{
					<ActionColumn Title="操作" Fixed="right" Width=100>
						@if (TableOptions.Buttons.Count < 3)
						{
							<Space Size=@("small")>
								@foreach (var btn in TableOptions.Buttons)
								{
									<SpaceItem>
										@CreateButton(btn, context)
									</SpaceItem>
								}
							</Space>
						}
						else
						{
							<Dropdown>
								<Overlay>
									<Menu>
										@foreach (var btn in TableOptions.Buttons)
										{
											<MenuItem>
												@CreateButton(btn, context)
											</MenuItem>
										}
									</Menu>
								</Overlay>
								<ChildContent>
									<a @onclick:preventDefault>
										更多 <Icon Type="down" />
									</a>
								</ChildContent>
							</Dropdown>
						}
					</ActionColumn>
				}
			}
		</ChildContent>
		<PaginationTemplate>
			<Pagination Class="mt-10"
						Size="small"
						ShowSizeChanger
						ShowQuickJumper
						Current=@TableOptions.Query.PageIndex
						PageSize=@TableOptions.Query.PageSize
						Total=@TableOptions.Total
						ShowTotal=totalFragment
						OnChange=PagingStatusChanged></Pagination>
		</PaginationTemplate>
	</Table>
</Card>
@if (EnableGenerateQuery)
{
	<Modal Visible="AdvanceModalVisible" OnCancel=@(()=>AdvanceModalVisible = false) Title="高级查询" Footer=null>
		<ConditionGroup Columns=@TableOptions.Columns
					TData=TData
					@bind-Expression="ConditionExpression"
					ShowExportButton=@(TableOptions.ExportDataLoader != null || !TableOptions.Page)
					OnConfirmToSearch=AdvanceSearch
					OnConfirmToExport=AdvanceExport>
		</ConditionGroup>
	</Modal>
}
@code {
	public RenderFragment CreateButton(ButtonDefinition<TData> definition, TData context)
	{
		return
	@<Button Type=@definition.ButtonType Size=@ButtonSize.Small Danger=@definition.NeedConfirm Icon=@definition.Icon OnClick=@(() => @definition.Callback(context))>
		@definition.Label
	</Button>
	;
	}

	RenderFragment<PaginationTotalContext> totalFragment => (context) =>
	{
		return
	@<span>总记录数：@context.Total</span>
	;
	};

	public void PagingStatusChanged(PaginationEventArgs e)
	{
		if (e.Page != TableOptions.Query.PageIndex)
			TableOptions.Query.PageIndex = e.Page;
		if (e.PageSize != TableOptions.Query.PageSize)
			TableOptions.Query.PageSize = e.PageSize;
	}
}