@using Project.AppCore;
@using System.Reflection;
@using BlazorWeb.Shared.Components;
<ErrorCatcher>
    <CascadingValue Value="this" IsFixed="true">
        <CascadingAuthenticationState>
            <Router AppAssembly="AppAssembly" AdditionalAssemblies="Config.Pages">
                <Found Context="routeData">
                    <CascadingValue Value="@routeData">
                        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
                    </CascadingValue>
                </Found>
                <NotFound>
                    <PageTitle>Not found</PageTitle>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <p role="alert">Sorry, there's nothing at this address.</p>
                    </LayoutView>
                </NotFound>
            </Router>
        </CascadingAuthenticationState>
    </CascadingValue>
    <WebAdminReconnector></WebAdminReconnector>
</ErrorCatcher>

<AntContainer />
<Downloader />
<div style="display:none;">
    @ChildContent
</div>
@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public Assembly AppAssembly { get; set; }
}