@page "/home"
@using Project.AppCore.Layouts
@using Project.Constraints.Page
@using Project.Constraints.UI
@using Project.Models
@using Project.Models.Entities
@using Project.Web.Shared.Components
@layout RootLayout
@inject IUIService UI
<PageTitle>Home</PageTitle>
<h1>Hello, world!</h1>
Welcome to your new app.
@UI.BuildInput(this).Bind(() => u.UserName).Render()
@(UI.BuildInput<int>(this).Bind(() => testn).Render())
@(UI.BuildSelect<string>(this, dic.Convert()).Bind(() => test).Render())
<br />
@u.UserName
<br />
@testn
<br />
<MCard Title="测试">
    @UI.BuildButton(this).OnClick(HandleClick).Text("点击").Set("Type", "primary").Render()
    @UI.BuildButton(this).OnClick(ShowDialog).Text("Open").Set("Type", "primary").Render()
</MCard>
<br />
DialogReturn: @dialogReturn
<br />
@UI.BuildSwitch(this).Set("Checked", false).Set("CheckedChildren", "AndAlso").Set("UnCheckedChildren", "OrElse").Render()
<TableTest></TableTest>
@code {
    string test = "Hello";
    User u = new User();
    int testn = 123;
    Dictionary<string, string> dic = new Dictionary<string, string>()
        {
            ["Hello"] = "World",
            ["Sharp"] = "C",
        };
    void HandleClick()
    {
        test = "Sharp";
    }
    string dialogReturn;
    async Task ShowDialog()
    {
        dialogReturn = await UI.ShowDialogAsync<DialogTemplateTest, string>("测试");
    }

}