@namespace Project.Web.Shared.Components
@inherits JsComponentBase
<i style="display: flex;align-items: center;" @onclick="handleClick" @ref="icon_wrapper"></i>
@code {
    [Parameter]
    public string? IconName { get; set; }
    ElementReference? icon_wrapper;
    MarkupString IconMarkuString;

    [Parameter]
    public string? ClassName { get; set; }

    [Parameter] public string? Style { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter] public string? FontSize { get; set; }

    private async Task handleClick()
    {
        await OnClick.InvokeAsync();
    }

    // protected override async Task OnParametersSetAsync()
    // {
    //     await loadSvgData();
    //     await base.OnParametersSetAsync();
    // }

    protected override ValueTask Init()
    {
        Style ??= $"font-size: {FontSize ?? "18px"}";
        var className = $"svg-icon {ClassName}";
        return InvokeInit(new
        {
            Container = icon_wrapper,
            IconName,
            ClassName = className,
            Style,
            FontSize
        });
    }

    async Task loadSvgData()
    {
        if (string.IsNullOrEmpty(IconName)) return;
        var svgContent = await SvgIconDataCache.GetIconDataByName(IconName);
        if (string.IsNullOrEmpty(svgContent))
        {
            IconMarkuString = new MarkupString($"<span class='iconfont {ClassName} icon-{IconName}'></span>");
        }
        else
        {
            var style = Style ?? $"font-size: {FontSize ?? "18px"}";
            var insertIndex = svgContent.IndexOf("<svg") + 4;
            svgContent = svgContent.Insert(insertIndex, $" class='svg-icon {ClassName}' style='{style}'");
            IconMarkuString = new MarkupString(svgContent);
        }
    }
}




@* <svg id="@Id" class="svg-icon @ClassName" style="@Style" viewBox="@($"0 0 {info?.Width ?? 0} {info?.Height ?? 0}")" width="@Size" height="@Size"
     @onclick="@handleClick" @attributes="@AdditionalParameters">
    @((MarkupString)SvgContent)
</svg>
@code {
    [Parameter]
    public string? IconName { get; set; }
    ElementReference? icon_wrapper;
    MarkupString IconMarkuString;

    [Parameter]
    public string? ClassName { get; set; }

    [Parameter] public string? Style { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter] public string Size { get; set; } = "1em";

    [Parameter] public string? FontSize { get; set; }

    private async Task handleClick()
    {
        await OnClick.InvokeAsync();
    }
    string SvgContent => info?.Content ?? string.Empty;
    // protected override async Task OnParametersSetAsync()
    // {
    //     await loadSvgData();
    //     await base.OnParametersSetAsync();
    // }
    SvgInfo? info;
    protected override async ValueTask Init()
    {
        // Style ??= $"font-size: {FontSize ?? "18px"}";
        // var className = $"svg-icon {ClassName}";
        var result = await InvokeAsync<JsActionResult<SvgInfo>>("getIcon", IconName);
        if (result.Success)
        {
            info = result.Payload;
            await InvokeAsync(StateHasChanged);
        }
        // IconMarkuString = new MarkupString(content);
        // StateHasChanged();
    }
} *@