@page "/counter"
@inject CounterStore store
<h3>Counter</h3>
<h4>私有变量: @count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<h4>Store变量: @store.Count</h4>
<Button Type="@ButtonType.Primary" OnClick="Add">计数</Button>
@code {
	private int count;
	private void Add()
	{
		count++;
		store.Count++;
	}
}
