@using Project.Constraints.UI.Flyout
@using Project.Models.Permissions
@inherits DialogTemplate<Power>

@* <Form Model="Value" LabelAlign=@AntLabelAlignType.Right LabelColSpan="8" WrapperColSpan="16">
    <FormItem Label="@GetLocalizeString(nameof(Value.PowerId))">
        <Input @bind-Value=context.PowerId Disabled=Edit></Input>
    </FormItem>
    <FormItem Label="@GetLocalizeString(nameof(Value.PowerName))">
        <Input @bind-Value=context.PowerName></Input>
    </FormItem>

    *<FormItem Label="@GetLocalizeString(nameof(Value.ParentId))">
    <Input @bind-Value=context.ParentId></Input>
    </FormItem>*

    <FormItem Label="@GetLocalizeString(nameof(Value.PowerType))">
        <EnumSelect TEnum="PowerType" @bind-Value=context.PowerType Disabled=Edit></EnumSelect>
    </FormItem>
    <FormItem Label="@GetLocalizeString(nameof(Value.Icon))">
        <Input @bind-Value=context.Icon ReadOnly></Input>
        <IconSelector @bind-Value=context.Icon></IconSelector>
    </FormItem>
    <FormItem Label="@GetLocalizeString(nameof(Value.Path))">
        <Input @bind-Value=context.Path></Input>
    </FormItem>

    *<FormItem Label="@GetLocalizeString(nameof(Value.Sort))">
    <AntDesign.InputNumber @bind-Value=context.Sort></AntDesign.InputNumber>
    </FormItem>*

    <FormItem Label="GenerateCURD">
        <Checkbox @bind-Value=context.GenerateCRUDButton></Checkbox>
    </FormItem>
</Form> *@