@namespace Project.Web.Shared.Components
@using System.Linq.Expressions
@using Project.Constraints.Page
@inherits BasicComponent
<CascadingValue Value="this">
    @if (Header is null)
    {
        <div @attributes="@AdditionalParameters">
            <MGrid MinWidth=@ColumnMinWidth GridColumns="@Column" Gap="@Gap.ToPixel()">
                @ChildContent
            </MGrid>
        </div>
    }
    else
    {
        <div @attributes="@AdditionalParameters">
            <StackPanel Gap="@Gap">
                @Header
                @UI.BuildButton(this).OnClick(() => expand = !expand).Text(expand ? "收起" : "展开").Render()
            </StackPanel>
            <div style="margin-top:@Gap.ToPixel(); display:@(expand ? "block":"none");">
                <StackPanel Gap="@Gap">
                    @ChildContent
                </StackPanel>
            </div>
        </div>
    }
</CascadingValue>
