@page "/login"
@using BlazorWeb.Shared.Layouts
@using Microsoft.Extensions.Options;
@using Project.AppCore.Options;
@layout NotAuthorizedLayout
@inject IConfiguration Configuration
@inject IOptionsMonitor<AppSetting> AppOptions 
<PageTitle>登录</PageTitle>
<div class="login-container" style="background-image: url('assets/login_bg.png');background-size:cover;">	
	<div class="title-container">
		<div class="title-position">
			@*style="background-image: url('assets/logo.png')"*@
			<h3 class="title">@AppOptions.CurrentValue.AppTitle</h3>
		</div>
	</div>
	<div class="login-form">
		<Form Model="model">
			<FormItem>
				<Input @bind-Value="@context.UserName" placeholder="@Localizer["Login.Placeholder.UserName"].Value" name="username" type="text" tabindex="1" AutoComplete="true">
				<Prefix>
					<Icon Type="user" Theme="outline" />
				</Prefix>
				</Input>
			</FormItem>
			<FormItem>
				<InputPassword @bind-Value="@context.Password" placeholder="@Localizer["Login.Placeholder.Password"].Value" tabindex="2" AutoComplete="true">
					<Prefix>
						<Icon Type="lock" Theme="outline" />
					</Prefix>
				</InputPassword>
			</FormItem>
		</Form>
		<Button Loading="Loading" Type="@ButtonType.Primary" OnClick="HandleLogin">@Localizer["Login.Buttons.Login"]</Button>
	</div>
</div>
